@font-face {
  font-family: Lato;
  src: url(/fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato/Lato-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato/Lato-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato/Lato-Black.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato/Lato-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* -----------------------------Basic styles for elements */

:root {
  --MainFont: "Lato", sans-serif;
}

/* *,
::after,
::before {
    margin: 0;
    padding: 0;
} */

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--MainFont);
}

/* -------------------------------------Tags styles */

h1 {
  font-size: calc(1.5em + 3.3vw);
  line-height: 130%;
}

h2 {
  font-size: calc(1.5em + 2vw);
}

@media (min-width: 580px) {
  h2 {
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
}

h3 {
  font-size: 1.5rem;
}

@media (min-width: 580px) {
  h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
  }
}

h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
}

a:hover{
  cursor: pointer;
}

/* ----------------------------------Empty dividers */

.empty-5 {
  height: 5vh;
}

.empty-10 {
  height: 10vh;
}

.empty-15 {
  height: 15vh;
}

.wide-only {
  display: none;
}

@media (min-width: 780px) {
  .wide-only {
    display: block;
  }
}

.mobile-only {
  display: block;
}

@media (min-width: 780px) {
  .mobile-only {
    display: none;
  }
}

/* ----------------------------------------Colors */

.bg-mint {
  background-color: #03cea4;
}

.bg-violet {
  background-color: #5a87fc;
}

.bg-light-orange {
  background-color: #f89828;
}

.bg-crimson {
  background-color: crimson;
}

.bg-yellow {
  background-color: #ffcf2d;
}

.bg-white{
  background-color: #fff;
}

.text-faded {
  color: #787a80;
}

.text-danger {
  color: #ff4242;
}

.t-18 {
  font-size: 18px;
}

.w-500 {
  font-weight: 500;
}

.t-center{
  text-align: center;
}

/* ------------------------------------Containers */

.section-wrap {
  position: relative;
}

@media (min-width: 1200px) {
  .section-wrap {
    margin: 0 10vw;
  }
}

.container {
  position: relative;
  margin: 0 5vw;
}

@media (min-width: 1200px) {
  .container {
    margin: 0 10vw;
  }
}

@media (min-width: 580px) {
  .swapper-580 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 780px) {
  .swapper-780 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1080px) {
  .swapper-1080 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
/* -------------------------------Header menu styles */

.menu-wrap {
  height: 70px;
  margin: 0 3vw;
}

.menu-nav {
  display: none;
  margin-left: 20px;
}

@media (min-width: 1080px) {
  .menu-nav {
    display: inline;
  }
}

.menu-nav a,
.menu-wrap a {
  outline: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: #000;
  margin-left: 15px;
  transition: color 0.5s;
}

.down-arrow {
  margin-left: 5px;
  width: 12px;
  vertical-align: middle;
}

.log-link {
  display: none;
  margin-left: 15px;
}

@media (min-width: 1080px) {
  .log-link {
    display: inline;
  }
}

.menu-nav a:hover,
.log-link:hover {
  color: #ff3f3a;
}

.icon {
  display: inline;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: black;
}

.navbar-toggler {
  margin: 0 0 0 auto;
  background-color: transparent;
  border: none;
}

@media (min-width: 580px) {
  .navbar-toggler {
    margin: 0;
  }
}

@media (min-width: 1080px) {
  .navbar-toggler {
    display: none;
  }
}

.menu-btn {
  display: none;
  font-size: 14px;
}

@media (min-width: 580px) {
  .menu-btn {
    display: inline;
    margin: 0 10px 0 auto;
  }
}

.person-img {
  display: none;
  margin-left: 5px;
}

@media (min-width: 1080px) {
  .person-img {
    display: inline;
  }
}



/* -----------------------------------------Images */

.img-w-100 {
  width: 100%;
}

.mar-l-auto {
  margin-left: auto;
}

/* ---------------------------------------------Utils */
.arrow {
  margin: 0;
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: black;
  transition: fill 0.3s;
}

.round-4 {
  border-radius: 4px;
}


/* ------------------------------------- Subscribing form -----*/

#subscribe{
  background: linear-gradient(
    55.95deg,
    rgba(255, 63, 58, 0.2) 0%,
    rgba(247, 94, 5, 0.2) 100%
  );
}

.subscribe-form{
  justify-content: center;
}

.subscribe-form input{
  border: 1px solid #D7DADD;
  box-sizing: border-box;
  max-width: 300px;
  flex-grow: 0.5;
}