@font-face {
  font-family: Lato;
  src: url(/fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato/Lato-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato/Lato-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato/Lato-Black.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url(/fonts/Lato/Lato-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

:root {
  --MainFont: "Lato", sans-serif;
}

/* *,
::after,
::before {
    margin: 0;
    padding: 0;
} */

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: var(--MainFont);
}

.flex-col,
.flex-col-center {
  display: flex;
  flex-direction: column;
}

.flex-row,
.flex-row-center {
  display: flex;
  flex-direction: row;
}

.flex-col-center {
  justify-content: center;
}

.flex-row-center {
  align-items: center;
}

h1 {
  font-size: calc(1.5em + 3.3vw);
}

p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.empty-5 {
  height: 5vh;
}

.empty-10 {
  height: 10vh;
}

.btn-fill,
.btn-outline {
  border-radius: 4px;
  padding: 0 1.5rem;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

.btn-fill {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border: none;
  color: #fff;
  transition: box-shadow 0.3s;
}

.btn-outline {
  border: 1px solid #ff3f3a;
  background-color: transparent;
  color: #ff3f3a;
  transition: all 0.3s;
}

.btn-fill:hover,
.btn-outline:hover {
  -webkit-box-shadow: 0px 9px 14px -2px rgba(255, 63, 58, 0.5);
  -moz-box-shadow: 0px 9px 14px -2px rgba(255, 63, 58, 0.5);
  box-shadow: 0px 9px 14px -2px rgba(255, 63, 58, 0.5);
}

.btn-outline:hover {
  background-color: #ff3f3a;
  color: #fff;
}

.btn-h-mid {
  height: 44px;
}

.btn-h-lg {
  height: 52px;
}

.btn-w-sm {
  width: 128px;
}

.btn-w-mid {
  width: 200px;
}

.menu-wrap {
  height: 70px;
  margin: 0 3vw;
}

.menu-nav {
  display: none;
  margin-left: 30px;
}

@media (min-width: 1080px) {
  .menu-nav {
    display: inline;
  }
}

.menu-nav a,
.menu-wrap a {
  outline: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: #000;
  margin-left: 15px;
  transition: color 0.5s;
}

.arrow {
  margin-left: 5px;
  width: 12px;
  vertical-align: middle;
}

.log-link {
  display: none;
  margin-left: 15px;
}

@media (min-width: 1080px) {
  .log-link {
    display: inline;
  }
}

.menu-nav a:hover,
.log-link:hover {
  color: #ff3f3a;
}

.icon {
  display: inline;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: black;
}

.navbar-toggler {
  margin: 0 0 0 auto;
  background-color: transparent;
  border: none;
}

@media (min-width: 580px) {
  .navbar-toggler {
    margin: 0;
  }
}

@media (min-width: 1080px) {
  .navbar-toggler {
    display: none;
  }
}

.menu-btn {
  display: none;
}

@media (min-width: 580px) {
  .menu-btn {
    display: inline;
    margin: 0 10px 0 auto;
  }
}

.person-img {
  display: none;
  margin-left: 15px;
}

@media (min-width: 1080px) {
  .person-img {
    display: inline;
  }
}
